Stocks will be listed here
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Stock Name</th>
      <th scope="col">Price</th>
      <th scope="col">Optoins</th>
    </tr>
  </thead>
  <tbody>
  <%i=0;
  @stocks.each do |stock|
  i=i+1;
  %>
    <tr>
      <th scope="row"><%=i%></th>
      <td><%=stock.Name%></td>
      <td>Price</td>
      <%# <td><%=link_to 'add',add(s_id:stock.id)</td> %> 
     <%if logged_in?%>
     <%  if (MyStock.all.where(stock_id:stock.id).where(user_id:current_user.id).count)<1 %>
      <td><a href=<%="add/"+(stock.id.to_s)%>>add</a>
     <%else%>
      <td><a href=<%="delete/"+(stock.id.to_s)%>>delete   </a>
     
    <%end%>
    <%else%>
    <td>
    <%end%>
    <br>

      <%=link_to 'view',stock_path(stock)%></td>
    </tr>
    <%end%>
  </tbody>
</table>