<!DOCTYPE html>
<html>
  <head>
    <title>FB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">FinanceBook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link btn " aria-current="page" href="http://127.0.0.1:3000/">Home</a>
        <a class="nav-link btn " href=http://127.0.0.1:3000/stocks>Stocks</a>
       <a class="nav-link btn " href=http://127.0.0.1:3000/users>Users</a>
        <%if current_user==nil %>
       <a class="nav-link btn " href=login>Login</a>
        <a class="nav-link btn " href="http://127.0.0.1:3000//signup" >Sign-Up</a>

        <%else%>
       <a class="nav-link btn " href=<%="http://127.0.0.1:3000/following/"+current_user.id.to_s%>>Your Stars</a>
        <a class="nav-link btn " href=<%="http://127.0.0.1:3000/myport/"+current_user.id.to_s%>>Portofolio</a>
        <a class="nav-link btn " href=<%="http://127.0.0.1:3000/friends/"+current_user.id.to_s%>>Friends</a>
     <a class="nav-link btn " href=<%="http://127.0.0.1:3000/requests/"+current_user.id.to_s%>>Friend Requests</a>
       <%= link_to "Log out", logout_path, method: :delete,class:"nav-link btn " %>
         
      <%end%>
       </div>
    </div>
  </div>
</nav>


<%= render 'layouts/messages' %>
    <%= yield %>
  <%= render 'layouts/footer' %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
  
</html>
